@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight:bold;">Welcome to My Portfolio and Resumé!</h1>
    
</div>
