@page
@model ResumeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight:bold;">Welcome to My Portfolio and Resumé!</h1>
    <br />
    <br />
    <div style="width: 100%; text-align: center;">
        <div class="jumbotron divided" style="margin-right:2px">
            <h2 style="font-weight:bold;">Resumé</h2>
            <p class="lead">View my resumé, both in standard view and an extended view.</p>
            <p><a href="https://localhost:44330/Services" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
        </div>

        <div class="jumbotron divided" style="margin-right:2px;">
            <h2 style="font-weight:bold;">Projects</h2>
            <p class="lead">Look at a list of the projects I have worked on and/or completed, and the technoligies I used for each of them.</p>
            <p><a href="https://localhost:44330/Services" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
        </div>

        <div class="jumbotron divided">
            <h2 style="font-weight:bold;">About Me</h2>
            <p class="lead">Learn about me on a more personal level.</p>
            <p><a href="https://localhost:44330/Services" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
        </div>
    </div>
</div>
